
/* обнуление */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
html,body {
    background: rgb(255, 255, 255);
    font-family: 'Economica', Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.wrapper {

}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;


}

.box {
    border: 1px solid blue;
    width: 500px;
}